body {
  /*background-image: tan.jpg*/
  font-family: Lato;
  /*width: 960px;*/
}

img {
  width: 100%;
  height: auto;
}

h1, h2, h3 {
  color: #002b5a;
  margin-bottom: 42px;
  text-transform: capitalize;
}

h4 {
  color: #002b5a;
  font-size: 17px;
}

h5 {
  color: #4987ca;
  font-size: 13px;
}

h5 ~ p {
  color: #666666;
  font-size: 13px;
}

.medium-grey-background {
  background-color: #e2e2e2;
}

.light-grey-background {
  background-color: #f5f5f5;
}

.ultra-light-grey-background {
  background-color: #f9f9f9;
}

h1 {
  font-size: 42px;
  font-weight: 200;
}

h2 {
  font-size: 40px;
  font-weight: 200;
}

h3 {
  font-size: 15px;
  font-weight: normal;
}

h1 ~ p {
  color: #333;
  font-size: 18px;
  text-align: justify;
}

h3 ~ p {
  font-size: 12px;
  text-align: justify;
}

#state-finder-container {
  margin-top: 30px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25),0 2px #fff inset;
}

.state-finder-header {
  font-size: 20px;
  margin-bottom: 20px;
}

.state-finder-header ~ p {
  color: #002b5a;
  margin-bottom: 5px;
  font-size: 12px;
}

.product-card {
  border: 5px solid;
  border-color: #f5f5f5;
  height: 300px;
}

.product-learn-more {
  /*color: #666666;*/
  /*instructions say above color but final image and the arrow are the dark blue color used below*/
  color: #002b5a;
  font-size: 13px;
}

.blue-arrow {
  height: 10px;
  width: 10px;
}

ul.ui-autocomplete {
  color: #002b5a !important;
  font-size: 13px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25),0 2px #fff inset;
  width: 240px;
  border-radius: 2px;
}

.ui-menu-item {
  padding: 10px;
  border-bottom: solid lightgrey;
  border-width: 1px;
}

.ui-menu-item:hover {
  background-color: #e2e7eb;
}

#tags {
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25),2px 0 #fff inset;
    background-color: white;
    padding-left: 10px;
    width: 210px;
    border-radius: 2px;
}

input:focus {
  border-color: darkgrey !important;
}

#search-icon {
  position: relative;
  bottom: 78px;
  left: 185px;
  color: grey;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
}

hr {
  display: inline-block;
  height: 43px;
  border-width: 0 1px 0 0;
  border-color: lightgrey;
  position: relative;
  bottom: 67px;
  left: 180px;
}

hr:hover {
  cursor: default;
}

#search-icon:hover {
  cursor: default;
}

/*<span>|</span>
span {
  color: grey;
  font-size: 20px;
  font-weight: lighter;
}*/
