body {
  font-family: Lato;
}

img {
  width: 100%;
  height: auto;
}

h1, h2 {
  margin-bottom: 42px;
}

h1, h2, h3 {
  color: #002b5a;
  text-transform: capitalize;
}

h3 {
  margin-top: 0px;
}

h3 ~ p {
  height: 60px;
}

h4 {
  color: #002b5a;
  font-size: 17px;
}

h5 {
  color: #4987ca;
  font-size: 13px;
}

h5 ~ p {
  color: #666666;
  font-size: 13px;
}

.medium-grey-background {
  background-color: #e2e2e2;
  margin-top: -3px;
}

.light-grey-background {
  background-color: #f5f5f5;
}

.ultra-light-grey-background {
  background-color: #f9f9f9;
}

h1 {
  font-size: 42px;
  font-weight: 200;
}

h2 {
  font-size: 40px;
  font-weight: 200;
}

h3 {
  font-size: 15px;
  font-weight: normal;
}

h1 ~ p {
  color: #333;
  font-size: 18px;
  text-align: justify;
}

h3 ~ p {
  font-size: 12px;
  text-align: justify;
}

#state-finder-container {
  margin-top: 30px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25),0 2px #fff inset;
  height: 180px;
}

.state-finder-header {
  font-size: 20px;
  margin-bottom: 20px;
}

.state-finder-header ~ p {
  color: #002b5a;
  margin-bottom: 5px;
  font-size: 12px;
}

.product-card {
  border: 5px solid;
  border-color: #f5f5f5;
  height: 300px;
  display: none;
}

.product-learn-more {
  color: #002b5a;
  font-size: 13px;
}

.blue-arrow {
  height: 7px;
  width: 7px;
}

ul.ui-autocomplete {
  color: #002b5a !important;
  font-size: 13px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25),0 2px #fff inset;
  width: 240px;
  border-radius: 2px;
}

.ui-menu-item {
  padding: 10px;
  border-bottom: solid lightgrey;
  border-width: 1px;
}

.ui-menu-item:hover {
  background-color: #e2e7eb;
  cursor: default;
}

#tags {
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25),2px 0 #fff inset;
    background-color: white;
    padding-left: 10px;
    width: 210px;
    border-radius: 2px;
}

input:focus {
  border-color: darkgrey !important;
}

#search-icon {
  position: relative;
  bottom: 80px;
  left: 185px;
  color: grey;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

hr {
  display: inline-block;
  height: 45px;
  border-width: 0 1px 0 0;
  border-color: lightgrey;
  position: relative;
  bottom: 68px;
  left: 180px;
}

hr:hover {
  cursor: default;
}

#search-icon:hover {
  cursor: default;
}

.modal-header {
  height: 50px;
}

.modal-close {
  text-transform: none;
  text-align: right;
  display: block;
  position: relative;
  bottom: 100px;
  left: 20px;
}

span.ui-helper-hidden-accessible div {
  display: none;
}

.learn-more-button {
  background-color: #ffffff;
  color: #002b5a;
  font-size: 14px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 2px #fff inset;
  padding: 10px;
}

.sprite-1 {
	background: url('materials/images/1-6-bullet-sprite.png') no-repeat -33px -22px;
	width: 16px;
	height: 21px;
}

.sprite-2 {
	background: url('materials/images/1-6-bullet-sprite.png') no-repeat -33px -66px;
	width: 16px;
	height: 21px;
}

.sprite-3 {
	background: url('materials/images/1-6-bullet-sprite.png') no-repeat -33px -110px;
	width: 16px;
	height: 21px;
}

.sprite-4 {
	background: url('materials/images/1-6-bullet-sprite.png') no-repeat -33px -154px;
	width: 16px;
	height: 21px;
}

.sprite-5 {
	background: url('materials/images/1-6-bullet-sprite.png') no-repeat -33px -198px;
	width: 16px;
	height: 21px;
}

.sprite-6 {
	background: url('materials/images/1-6-bullet-sprite.png') no-repeat -33px -242px;
	width: 16px;
	height: 21px;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.5);
}

.grow-friend {
  transform: scale(1.5);
}

.product-1-detail-button:hover {
  cursor: pointer;
}

.product-2-detail-button:hover {
  cursor: pointer;
}

.product-3-detail-button:hover {
  cursor: pointer;
}

.product-4-detail-button:hover {
  cursor: pointer;
}

#close-product-detail:hover {
  cursor: pointer;
}

#buy-online {
  background-color: #002b5a;
  color: #ffffff;
  font-size: 14px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25),0 2px #fff inset;
  border-width: 0;
  padding: 10px;
}

#product-detail-header {
  color: #002b5a;
  font-size: 24px;
}

#product-detail-price {
  color: #4987ca;
  font-size: 19px;
  font-style: italic;
}

#product-detail-desc {
  text-align: justify;
}

#connect-icon-div {
  width: 200px;
  float: right;
  position: relative;
  bottom: 50px;
  right: 90px;
}

#connect-icon-div text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  vertical-align: middle;
}

.connect-icons {
  height: 18px;
  width: 18px;
  display: inline;
  vertical-align: middle;
  opacity: 0.8;
}
